* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Oswald", sans-serif;

}

/*can't remove the scroll bar helppp*/
::-webkit-scrollbar {
  background: transparent;
}


/* backgroud of modal */
.modal {
  display: none; 
  position: absolute;
  left:17vh;
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;

}

nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 4rem 3rem;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

h4
{
  padding-left: 2rem;
}

nav ul 
{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

nav ul li
{
    list-style: none;
    font-size: 1.1rem;
    padding: 0rem 1.5rem;
    
}

#myBtn
{
    text-decoration: none;
    padding: 1rem 2rem;
    color:bisque;
    border-radius: 10px;
    background-color: transparent;
    border-color: transparent;
    font-size: 1.1rem;
    
}

#myBtn:hover
{
    background: #fff;
    color:rgb(156, 65, 231);
    font-size: 1.1rem;
}

nav ul li a
{
    text-decoration: none;
    padding: 1rem 2rem;
    color:bisque;
    border-radius: 10px;
    background-color: transparent;
    border-color: transparent;
    font-size: 1.1rem;

}

nav ul li a:hover,
nav ul li a.active

{
    background: #fff;
    color:rgb(156, 65, 231);
    font-size: 1.1rem;
}

.container {
    height: 100vh;
    background: linear-gradient(#7F4CEE,#FCDD54);
    width: 100%;
}

/*for all layers of images to stack upon one anoter*/
.container img {
    width: 100%;
    position:absolute;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

.main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6rem;
    transform: translate(-50%, -40%);
    z-index: 10;
}
.content{
    width: 100%;
    background:#D3BCDC;
    min-height: 100vh;
    z-index: 2;
    position: absolute;
    z-index: 20;
   
    
}
.content-images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 20vh;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}
.text{
    padding: 2rem 5rem;
    font-size: 1.1rem;

}
.cloud{
    mix-blend-mode: screen;
}

.moon{
    padding-bottom: 6rem;
    mix-blend-mode: screen;
}


/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
  
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  a{
    font-size: 25px;
    text-transform: capitalize;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 20px;
  }
  .wrapper{
    width: 25rem;
    margin-left: 30%;
    padding: 2rem 2rem;
    background: #fff;
    border-radius: 2rem;
    text-align: center;
    box-shadow: 1rem 1rem rgba(0,0,0,0.1);
    overflow: hidden;


  }
  .wrapper header{
    font-size: 35px;
    font-weight: 600;
    color:#5372F0;
    padding-bottom: 15px;
  }
  .wrapper form{
    align-items: center;
  }
  form .field{
    width: 100%;
    margin-bottom: 20px;
  }
  form .field.shake{
    animation: shake 0.3s ease-in-out;
  }
  @keyframes shake {
    0%, 100%{
      margin-left: 0px;
    }
    20%, 80%{
      margin-left: -12px;
    }
    40%, 60%{
      margin-left: 12px;
    }
  }
  form .field .input-area{
    height: 50px;
    width: 100%;
    position: relative;
  }
  form input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 45px;
    font-size: 18px;
    background: none;
    caret-color: #5372F0;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
    color:#000;
  }
  form .field input:focus,
  form .field.valid input{
    border-color: #5372F0;
  
  }
  form .field.shake input,
  form .field.error input{
    border-color: #dc3545;
  }
  .field .input-area i{
    position: absolute;
    top: 50%;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50%);
  }
  .input-area .icon{
    left: 15px;
    color: #bfbfbf;
    transition: color 0.2s ease;
  }
  .input-area .error-icon{
    right: 15px;
    color: #dc3545;
  }
  form input:focus ~ .icon,
  form .field.valid .icon{
    color: #5372F0;
  }
  form .field.shake input:focus ~ .icon,
  form .field.error input:focus ~ .icon{
    color: #bfbfbf;
  }
  form input::placeholder{
    color: #bfbfbf;
    font-size: 17px;
  }
  form .field .error-txt{
    color: #dc3545;
    text-align: left;
    margin-top: 5px;
  }
  form .field .error{
    display: none;
  }
  form .field.shake .error,
  form .field.error .error{
    display: block;
  }
  form .pass-txt{
    text-align: center;
    margin-top: -10px;
  }
  .wrapper a{
    color: #5372F0;
    text-decoration: none;
  }
  .wrapper a:hover{
    text-decoration: underline;
  }
  form input[type="submit"]{
    height: 50px;
    margin-top: 30px;
    color: #fff;
    padding: 0;
    border: none;
    background: #5372F0;
    cursor: pointer;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    transition: all 0.3s ease;
  }
  form input[type="submit"]:hover{
    background: #2c52ed;
  }

  body.modal-open {
    height: 100vh;
    overflow-y: hidden;
  }

  .content
  {
    font-family: 'Nunito', sans-serif;
  }

  h3
  {
    font-size: 2em;
    justify-content: center;
    text-align: center;
    padding: 20px 20px 10px 10px;
    color:  #A87CBA;
    text-decoration: underline;
    text-shadow: rgb(64, 5, 87) 2px 2px 2px;
  }
  
  .intro
  {
    text-align: center;
    margin-top: 2px;
    color:#A87CBA;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }

  .breathe
  {
    font-size: 3em;
    text-align: left;
    padding: 5px 170px;
    color: #fff;
    font-family: 'Festive', cursive;
  }

  .relax
  {
    font-size: 3em;
    text-align: right;
    padding: 5px 170px;
    color: #fff;
    font-family: 'Festive', cursive;

  }

  .elab
  {
    font-size: 1.3rem;
    padding: 5px 70px;
    justify-content: center;
    text-align: center;
    font-family: 'Nunito', sans-serif;
  }

h4
  {
    font-size: 2em;
    justify-content: center;
    text-align: center;
    padding: 20px 20px 10px 10px;
    color:  #A87CBA;
    text-decoration: underline;
    text-shadow: rgb(64, 5, 87) 2px 2px 2px;
}

.highlights
{
  font-size: 1.3rem;
  padding: 5px 70px;
  justify-content: center;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}